@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 30px;
}